[Desktop Entry]
Type=Application
Name=DSDesk
Comment=Synology Download Station Client
Exec=dsdesk %u
Icon=com.dekomote.dsdesk
Terminal=false
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
StartupNotify=true
